<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="org.apache.logging.log4j.core,io.sentry.log4j2">

	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="${albina.log.prefix}%date{ISO8601} [%thread] %-5level %logger:%line - %message%n"/>
		</Console>
		<RollingFile name="FILE"
					 fileName="${albina.log.filepath}${albina.log.filename}"
					 filePattern="${albina.log.filepath}${albina.log.filename}.%d{yyyy-MM-dd}.log.gz">
			<PatternLayout pattern="${albina.log.prefix} %date{ISO8601} [%thread] %-5level %logger:%line - %message%n"/>
			<TimeBasedTriggeringPolicy/>
			<DefaultRolloverStrategy/>
		</RollingFile>
		<!-- System Environment Variable SENTRY_DSN -->
		<Sentry name="SENTRY" minimumEventLevel="WARN"/>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="SENTRY"/>
		</Root>
		<Logger name="org.hibernate" level="${albina.log.level.sql}"/>
		<Logger name="com.mchange.v2.c3p0" level="${albina.log.level.c3p0}"/>
		<Logger name="eu.albina.controller.socialmedia.BlogController" level="DEBUG"/>
		<Logger name="eu.albina.controller.socialmedia.RapidMailProcessorController" level="DEBUG"/>
		<Logger name="eu.albina.util.PushNotificationUtil" level="DEBUG"/>
		<Logger name="eu.albina.rest.AvalancheBulletinService" level="DEBUG"/>
		<Logger name="eu.albina.util.EmailUtil" level="DEBUG"/>
	</Loggers>

</Configuration>
