<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

  <session-factory>

	<!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ais?useSSL=false</property>
    <property name="hibernate.connection.username">ais</property>
    <property name="hibernate.connection.password">lawine</property>

	<!-- c3p0 connection pool -->    
<!-- 
	<property name="hibernate.c3p0.acquire_increment">1</property>
	<property name="hibernate.c3p0.idle_test_period">100</property>
	<property name="hibernate.c3p0.max_size">10</property>
	<property name="hibernate.c3p0.max_statements">10</property>
	<property name="hibernate.c3p0.min_size">10</property>
	<property name="hibernate.c3p0.timeout">100</property>

 -->

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection_pool_size">1</property>
    
	<!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.spatial.dialect.mysql.MySQL56SpatialDialect</property>
    
    <!-- Disable the second-level cache -->
    <property name="cache_provider_class">org.hibernate.cache.NoCacheProvider</property>
    
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">create</property>
    <!-- <property name="hbm2ddl.auto">update</property>  -->
    
    <!-- Names the annotated entity class -->
    <mapping class="eu.albina.model.Texts"/>
    <mapping class="eu.albina.model.AvalancheBulletin"/>
    <mapping class="eu.albina.model.AvalancheBulletinElevationDescription"/>
    <mapping class="eu.albina.model.Region"/>
    <mapping class="eu.albina.model.News"/>
    <mapping class="eu.albina.model.User"/>
    <mapping class="eu.albina.model.ChatMessage"/>
    
  </session-factory>
  
</hibernate-configuration>